<nav>
    <div class="site-title">
    
        <a href="/"><h1>Childerx College</h1></a>
        <p>A dashboard for the entire students populace. <br>
        Get a student details by ID or register new student</p>
    </div>
    <ul>
        <li><a href="/">Students</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/students/register">Register New Student</a></li>
    </ul>
</nav>