<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2 style="text-align: center; ">About This Interface</h2>
        <h4>This is the administrative student's dashboard for the childerx college. All student's details are present here. <br>
            New students are added to system at the "REGISTER NEW STUDENT" button on the nav bar. <br><br>
            Click on the "STUDENTS" button to display the entire student populace.
        </h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam tenetur aperiam saepe magni placeat blanditiis nihil. Eligendi sapiente totam, ipsa unde vitae quia earum officia laboriosam repudiandae enim dolor. Atque? <br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam tenetur aperiam saepe magni placeat blanditiis nihil. Eligendi sapiente totam, ipsa unde vitae quia earum officia laboriosam repudiandae enim dolor. Atque? <br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam tenetur aperiam saepe magni placeat blanditiis nihil. Eligendi sapiente totam, ipsa unde vitae quia earum officia laboriosam repudiandae enim dolor. Atque? <br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam tenetur aperiam saepe magni placeat blanditiis nihil. Eligendi sapiente totam, ipsa unde vitae quia earum officia laboriosam repudiandae enim dolor. Atque? <br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam tenetur aperiam saepe magni placeat blanditiis nihil. Eligendi sapiente totam, ipsa unde vitae quia earum officia laboriosam repudiandae enim dolor. Atque? <br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam tenetur aperiam saepe magni placeat blanditiis nihil. Eligendi sapiente totam, ipsa unde vitae quia earum officia laboriosam repudiandae enim dolor. Atque? <br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam tenetur aperiam saepe magni placeat blanditiis nihil. Eligendi sapiente totam, ipsa unde vitae quia earum officia laboriosam repudiandae enim dolor. Atque? <br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam tenetur aperiam saepe magni placeat blanditiis nihil. Eligendi sapiente totam, ipsa unde vitae quia earum officia laboriosam repudiandae enim dolor. Atque? <br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam tenetur aperiam saepe magni placeat blanditiis nihil. Eligendi sapiente totam, ipsa unde vitae quia earum officia laboriosam repudiandae enim dolor. Atque? <br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam tenetur aperiam saepe magni placeat blanditiis nihil. Eligendi sapiente totam, ipsa unde vitae quia earum officia laboriosam repudiandae enim dolor. Atque? <br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam tenetur aperiam saepe magni placeat blanditiis nihil. Eligendi sapiente totam, ipsa unde vitae quia earum officia laboriosam repudiandae enim dolor. Atque?</p>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>