body{
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
    background: linear-gradient(to bottom, #f0ebeb 0%, #ccffff 100%);
    font-family: Arial, Helvetica, sans-serif;
}

p, h1, h2, h3, a, ul{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #222;
}

/* nav and footer styles*/
nav {

    display: flex;
    /* background-color: #f0ebeb; */
    justify-content: space-between;
    margin-bottom: 40px;
    padding: 5px 5px 5px 10px;
    border-bottom: 1px solid #ddd;
    text-transform: uppercase;
    position: sticky;
    top: 0;
    z-index: 100000;
    /* box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5); */
    box-sizing: border-box;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    text-align: center;
}

nav li{
    list-style-type: none;
    margin-left: 20px;
}

nav h1{
    font-size: 3em;
}


nav p, nav a{
    color: #777;
    font-weight: 300;
}

nav a:hover{
    color: #000;
}

footer{
    color: #222;
    text-align: center;
    margin: 80px auto 20px;
}

h2{
    margin-bottom: 40px;
}

h3{
   text-transform: capitalize;
   margin-bottom: 8px; 
}

.content{
    margin: auto;
    /* background-color: #f6f6
    padding: 10px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
}
/* index styles */
.blogs a{
    display: block;
    margin-bottom: 25px;
    padding: 10px 30px;
    border-left: 6px solid rgb(20, 220, 220);
}

.blogs a:hover{
    background-color: #fffbfb;
   
}

.blogs a:hover h3{
    color: rgb(20, 220, 220);
}

/* details styles */
.details{
    position: relative;
}

.content.bod span{
    display: inline-block;
    margin: 0 15px 10px 0;
    font-style: oblique;
    font-weight: bolder;
}

.content.bod p{
    display: inline-block;
    margin: 0 15px 10px 0;
}

/* .delete {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    padding: 8px;
} */

/* .delete:hover{
    cursor: pointer;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
} */


/* register styles */

.create-blog form{
    max-width: 600px;
    margin: 0 auto;
    padding: 15px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
}

.create-blog input{
    display: block;
    width: 100%;
    margin: 10px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
}

.create-blog label{
    display: block;
    margin-top: 24px;
}
/* 
.create-blog p{
    display: inline-block;
    margin-left: 10px;
    padding-bottom: 5px;
} */

/* .create-blog input.sex{
    width: auto;
    display: inline-block;
    margin: 5px;
} */


.create-blog button{
    display: block;
    margin: 20px auto;
    background: crimson;
    color: #fff;
    padding: 8px 10px;
    border: 0;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 5px;
}

.create-blog button:hover{
    background-color: rgb(177, 9, 43);
    color: #fff;
    transition: 0.2s;
    
}
